<h6><i class="circle example" title="Example">E</i>用例：</h6>
<div class="code example">
    <div class="code-inner">
        <pre class="prettyprint">
            <%-html.replace('<code>','').replace('</code>','')%>
        </pre>
    </div>
</div>
