<div class="module">
    <h1 class="title">Type 类型检测工具</h1>
    <div class="description block">
        * 名称：链尚网通用库文件：类型检测工具 * 日期：2016-10-27 * 版本：0.0.1 * 描述：主要提供js基础数据类型的检测
    </div>
    <div class="methods">
        <% for(var i=0,k=items.length;i<k;i++){
                var item = items[i];
                if(item.ctx && item.ctx.type=="method"){%>
                    <%-include('method.ejs',item)%>
                <%}%>
        <%}%>
    </div>
</div>