<div class="module">
    <h1 class="title"><%-ctx.name%></h1>
    <div class="description block">
        <%-ctx.description%>
    </div>
    <div class="methods">
        <% for(var i=0,k=items.length;i<k;i++){
                var item = items[i];
                if(item.ctx && item.ctx.type=="method"){%>
                    <%-include('method.ejs',item)%>
                <%}%>
        <%}%>
    </div>
</div>