<div class="parameters">
    <div class="parameter">
        <span class="name"><%-name%></span>
        <span class="type"><%-typesDescription%></span>
        <span class="desc"><%-description%></span>
    </div>
</div>