
@font-face {
    font-family: "docfont";
    src: url('font.eot'); /* IE9*/
    src: url('font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font.woff') format('woff'), /* chrome、firefox */
    url('font.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('font.svg#font') format('svg'); /* iOS 4.1- */
}

.icon {
    font-family: "docfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}


.mdfont {
    font-size: 18px;
}

.icon-apijiekou:before {
    content: "\f0042";
}

.icon-zhishiku:before {
    content: "\e79e";
}

.icon-ui:before {
    content: "\e671";
}

.icon-ui1:before {
    content: "\e68d";
}

.icon-wendang:before {
    content: "\e645";
}

.icon-mulu:before {
    content: "\f004b";
}

.icon-folder:before {
    content: "\e761";
}

.icon-folderadd:before {
    content: "\e762";
}

.icon-yongli:before {
    content: "\e6a6";
}

.icon-136yongli:before {
    content: "\e7dc";
}

.icon-yongnengzhuangkuangbaogao:before {
    content: "\e718";
}

.icon-weibiaoti102:before {
    content: "\e600";
}

.icon-fontfontdiannaobanzhuanhuan:before {
    content: "\e600";
}

.icon-525shujuceshi:before {
    content: "\e980";
}

.icon-icon107:before {
    content: "\e668";
}

.icon-yunxingwancheng:before {
    content: "\e600";
}

.icon-yunxingzhengchangtishi:before {
    content: "\e620";
}

.icon-yunxingyichangtishi:before {
    content: "\e61f";
}

.icon-fontfontsetting:before {
    content: "\e737";
}

.icon-go:before {
    content: "\3449";
}

.icon-gototop:before {
    content: "\e829";
}

.icon-kuangjia:before {
    content: "\e632";
}

.icon-application:before {
    content: "\e60b";
}

.icon-wenjianxiazai:before {
    content: "\e610";
}

.icon-31:before {
    content: "\f0069";
}

.icon-wenjianhtml:before {
    content: "\e61d";
}

.icon-wenjianjia:before {
    content: "\e66c";
}
